@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CourseHub</h1>
    <p>
        <a class ="btn btn-primary"  href="/course/apply">Apply</a>
    </p>    
</div>
